{% extends "layout.html" %}
{% block content %} 
	<div class="container">
	 			<div class="content">
	 				<div class='about'>
	 				<h3>What is Valentines AI?</h3>
	 				<h5>It is the only AI that can generate romantic quotes. Who knows, AI generated lines might be the key to one of the most difficult problems in history of mankind– human emotions?</h5>

	 				<br>
	 				<h3>Author</h3>
	 				The project was created by Shahzeb Afroze, co-founder of Algo Consulting. Connect with me on <a href="https://www.linkedin.com/in/shahzebafroze/">Linkedin</a>
	 				
	 				<br>
	 				<h3>Vision:</h3>
	 				<h5>
					The vision is to apply machine learning to enable creativity. Generating ideas are difficult but what if AI could give us a headstart on it?
					<br>
					<br>
					AI is blurring the defination of artist (one of the most creative careers). This is shown time and time again in the recent years, "In 2018 Mario Klingemann won a Lumen prize for his art piece The Butcher’s Son, a set of Francis Bacon-like images." - <a href="https://www.theguardian.com/technology/2019/mar/04/can-machines-be-more-creative-than-humans">The Guardian</a>
					</h5> 
					
					<br>
	 				<h3>Source Code:</h3> 
	 				<br>
	 				<a href="">Github Code</a>
	 				<br>
					<h5>
					I created the first iteration of the project on Feburary 2019 using RNN architecture which were considered state of the art for NLP problems at that time. This time, I am using the GPT-2 Open AI model extension made by the genius <a href="https://minimaxir.com/2019/09/howto-gpt2/">Max Wolfer</a>.				
					GPT-2 model was announced by <a href="https://openai.com/blog/better-language-models/">OpenAI</a> on Feburary 14th (the irony).

					<br>
					<br>
					I used the following codepens to create the best front-end experience in the shortest amount of time for the users.[<a href="https://codepen.io/tvolodimir/pen/wqKuJ">heart animation 1</a>,
					<a href="https://codepen.io/kkoutoup/pen/zxmGLE">quote</a>,
					<a href="https://codepen.io/lovefield/pen/vEvqZV">heart animation 2</a>] 
					
					<br>
	 				The dataset was collected by scraping several categories on <a href="https://www.goodreads.com/quotes/tag/love">goodreads</a>.</h5>
	 				</h5>

	 				
 				</div>
		</div>
{% endblock content %}