/*body {
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
    background-size: cover;
    background-position: center; 
}*/

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 10%;
	text-align: center;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.about{
    /*width: 50%;*/
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;

}


@media screen and (max-width: 1020px) {
  .about{
    /*width: 50%;*/
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }

  